body {
  background-color:##F8F8F8;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight:300;
  line-height: 20px;
  font-size:14px;
  margin: 50px;
  padding: 5px;
}

.vis{
  display:inline-block;
}

#images{
  margin-right:auto;
  margin-left:auto;
  width:650px;
}

#topBlock {
  margin-top:50px;
}

.block{
  margin: 20px;
  padding: 30px;
  border-bottom: 1px solid #4169E1;
}

h1{
  font-size: 50px;
  color: #4169E1;
  font-weight:800;
  animation-duration: 1s;
  animation-name: slidein;
}

h2{
  animation-duration: 1.25s;
  animation-name: slidein;
}


@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

#byLine{
margin-top: -10px; /* for the by line to appear closer to the title */
}

#main_nav ul {
  padding: 0;
  margin: 0;
  font-weight: bold;
  list-style-type: none;
}

#main_nav ul li {
  display: inline-block;
  float:right;
}

#main_nav li a{
   display: block;
   margin: 6px;
   padding: 9px;
   border-radius: 10px;  /* rounded corners */
   list-style-type: none;
   text-decoration: none;
   color: #222;
 }
